.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #333;
  transition: width 0.3s;
  z-index: 499;
  color: white;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logoArea {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #444;
}

.logo {
  font-size: 40px;
  color: white;
}

.menuItem {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  padding: 10px 10px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  text-decoration: none;
}

.button:hover {
  background-color: #777;
}

.icon {
  font-size: 24px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  text-align: center;
  transition: opacity 0.3s;
  white-space: nowrap;
  margin-left: 30px;
}

.hideText {
  opacity: 0;
  visibility: hidden;
  width: 0;
  overflow: hidden;
}

.text.collapsed {
  display: none;
}

.link {
  text-decoration: none;
}

.link:focus,
.link:hover {
  text-decoration: none;
}
