# Ignore node_modules directory as it will be installed in the container
node_modules

# Ignore log files and debugging files
npm-debug.log
yarn-error.log

# Ignore environment files (only if you don't need them inside the container)
.env
.env.local
.env.development
.env.test
.env.production

# Ignore temporary files
*.swp
*.log
.DS_Store
Thumbs.db

# Ignore build artifacts (if applicable)
build/
dist/

# Ignore test-related files and coverage
coverage/
tests/
__tests__/
__mocks__/
*.spec.js
*.test.js

# Ignore linting and configuration files not needed inside the Docker image
.eslintcache
.eslintignore
.prettierignore
.prettierrc
.prettier.config.js
stylelint.config.js

# Include TypeScript configuration files
!tsconfig.json
!tsconfig.build.json

# Ignore editor-specific configuration files
.vscode/
.idea/
*.iml

# Ignore the Dockerfile itself (since it's not needed inside the container)
Dockerfile

# Ignore your docker-compose files
docker-compose.yml
