.topbar {
  position: fixed;
  top: 50px;
  right: 0;
  background-color: #ffffff;
  padding: 10px 10px;
  padding-bottom: 0;
  z-index: 21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  width: 590px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.inputContainer {
  flex: 1;
}

.formGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  margin-right: 10px;
  font-size: 0.875rem;
  color: #333;
  width: 120px;
  text-align: right;
}

.inputField {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputField input {
  width: 100%;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 0.875rem;
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  text-align: center;
  display: block;
}

.invalid input {
  border-color: #dc3545;
}

.required input {
  border-color: blue;
}

.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #007bff, #0056b3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-self: center;
  margin-left: 5px;
  margin-bottom: 1rem;
}

.submitButton:hover {
  background: linear-gradient(45deg, #0056b3, #003580);
}

.submitButton:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
