.rightSidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 590px;
  height: 50px;
  background-color: #343a40;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #444;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 0;
  padding: 10px 100px;
  border-radius: 5px;
  z-index: 499;
}

.iconButton {
  margin: 20px 0;
  padding: 10px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s;
}

.iconButton:hover {
  color: #007bff;
}

.iconButton.on {
  color: #007bff;
}

.iconButton.on:hover {
  color: #ffffff;
}

.iconButton.off:hover {
  color: #007bff;
}
